body { 
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	/*background-image: url("rotunda.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    /*background: -webkit-linear-gradient(top, #DDDDDD, #E1E1E1);
  	background: -o-linear-gradient(top, #DDDDDD, #E1E1E1);
  	background: -moz-linear-gradient(top, #DDDDDD, #E1E1E1);
  	background: linear-gradient(top, #DDDDDD, #E1E1E1);*/
  	background-color: #EEEEEE;
}

.unselectable, div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selection {
	width: 100%;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	display: inline-block;
	background-color: #d3d3d3;
	border-radius: 10px;
	color: #ffffff;
	margin-bottom: 25px;

	/*background: #235281;
  	background: -webkit-linear-gradient(bottom, #235281, #2A6199);
  	background: -o-linear-gradient(bottom, #235281, #2A6199));
  	background: -moz-linear-gradient(bottom, #235281, #2A6199));
  	background: linear-gradient(to bottom, #235281, #2A6199));*/

}

#div_selection_container {
	position: absolute;
	width: 15%;
	text-align: center;
	left: 10%;
	top: 125px;
	opacity: 0.85;
}

#div_topContainer {
	position: absolute;
	width: 60%;
	height: 100px;
	top: 100px;
	right: 5%;
	margin: 0;
	padding: 0;
	/*background-color: #235281;*/
	opacity: 0.85;
	z-index: 1;
}

#div_topMiddleContainer {
	position: absolute;
	width: 60%;
	height: 100px;
	top: 200px;
	right: 5%;
	margin: 0;
	padding: 0;
	/*background-color: #235281;*/
	opacity: 0.85;
	z-index: 1;
}

#div_bottomMiddleContainer {
	position: absolute;
	width: 60%;
	height: 100px;
	top: 300px;
	right: 5%;
	margin: 0;
	padding: 0;
	/*background-color: #235281;*/
	opacity: 0.85;
	z-index: 1;
}

#div_bottomContainer {
	position: absolute;
	width: 60%;
	height: 100px;
	top: 400px;
	right: 5%;
	margin: 0;
	padding: 0;
	/*background-color: #235281;*/
	opacity: 0.85;
	z-index: 1;
}

.holder {
	width: 20%;
	height: 75px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
	line-height: 75px;
	border-radius: 10px;


	/*background: #235281;
  	background: -webkit-linear-gradient(bottom, #235281, #2A6199);
  	background: -o-linear-gradient(bottom, #235281, #2A6199));
  	background: -moz-linear-gradient(bottom, #235281, #2A6199));
  	background: linear-gradient(to bottom, #235281, #2A6199));*/
	background-color: #d3d3d3;
}

.sorority {
	width: 100%;
	height: 100%;
	background-color: #CF7800;
	border-radius: 10px;
	font-size: 20px;
	color: #FFFFFF;
	background: #CF7800; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(bottom, #f89406, #fbb450); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom, #f89406, #fbb450)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom, #f89406, #fbb450)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom, #f89406, #fbb450)); /* Standard syntax */
}

#div_banner {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #235281;
    opacity: 1;
    background: #235281; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(bottom, #235281, #2A6199); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom, #235281, #2A6199)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom, #235281, #2A6199)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom, #235281, #2A6199)); /* Standard syntax */
	
	opacity: 0.85;
}

#div_title {
    width: 450px;
    height: 100px;
    font-size: 35px;
    text-align: center;
    vertical-align: center;
    color: #CF7800;
    background-image: url("Uvalogo3.png");
    background-size: 352px 100px;
    background-repeat: no-repeat;
    margin: 0;
}

#div_hint {
	color: #000000;
	position: absolute;
	bottom: 250px;
	text-align: center;
	width: 100%;
}

.dropdown {
	display: none;
	width: 70%;
	height: 75%;
	background-color: #FFFFFF; /*#d3d3d3;*/
	top: 5%;
	left: 15%;
	position: absolute;
	z-index: 2;
}

form {
	position: absolute;
	left: 25px;
	top: 150px;
}

#submit {
	position: absolute;
	top: 50px;
	right: 50px;
}

#div_submit {
	position: absolute;
	bottom: 10%;
	left: 42%;
	width: 16%;
	height: 5%;
	text-align: center;
	vertical-align: middle;
	display: table;
}

#div_selection_confirm {
	font-size: 25px;
	width: 40%;
	left: 30%;
	position: absolute;
}

#div_submit_0 {
	position: absolute;
	background-color: #FFFFFF;
	width: 20%;
	height: 15%;
	left: 6%;
	bottom: 5%;
}

#div_submit_1 {
	position: absolute;
	background-color: #FFFFFF;
	right: 5%;
	bottom: 5%;
	width: 20%;
	height: 15%;
}

.btn-gradient {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #007ACC;
	*background-color: #007ACC;
	background-image: -moz-linear-gradient(top, #33A6CC, #007ACC);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33A6CC), to(#007ACC));
	background-image: -webkit-linear-gradient(top, #33A6CC, #007ACC);
	background-image: -o-linear-gradient(top, #33A6CC, #007ACC);
	background-image: linear-gradient(to bottom, #33A6CC, #007ACC);
	background-repeat: repeat-x;
	border-color: #007ACC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.btn-:hover {
	color: #FFFFFF;
	background-color: #007ACC;
	*background-color: #003bb3;
}

span {
	display: table-cell;
	vertical-align: middle;
}

#left_container {
	position: absolute;
	width: 33%;
	height: 100%;
	top: 2%;
}

#right_container {
	position: absolute;
	width: 33%;
	right: 0px;
	height: 100%;
	top: 2%;
}

.server_holder {
	height: 40%;
	width: 100%;
}

.wifi_holder {
	height: 40%;
	width: 100%;
}

.img_server {
	width: 30%;
	height: auto;
}

.img_wifi {
	width: 40%;
	height: auto;
}

div {
	font-family: lead;
}
