body {
    background-color: #FFFFFF;
    /*background-image: url("rotunda2.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
}

#div_left_entries {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 10%;
	height: 80%;
}

#div_right_entries {
	position: absolute;
	top: 5%;
	right: 5%;
	width: 10%;
	height: 80%;
}

#div_dropdown {
	position: absolute;
	width: 20%;
	height: 50%;
	top: 25%;
	left: 40%;
	background: #FFFFFF;
}

.entry {
	width: 100%;
	height: 5%;
	font-size: 100%;
	background-color: #d3d3d3;
	color: #FFFFFF;
	opacity: 0.6;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
}

#input_entry {
	position: absolute;
	width: 20%;
	height: 5%;
	top: 15%;
	left: 40%;
	font-size: 150%;
}

.draggable {
	width: 100%;
	height: 20%;
	border-radius: 5px;
	margin-bottom: 10px;
	color: #FFFFFF;
	background: #CF7800; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(bottom, #f89406, #fbb450); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom, #f89406, #fbb450)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom, #f89406, #fbb450)); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom, #f89406, #fbb450)); /* Standard syntax */
	text-align: center;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000000;
}
